footer{
    /* padding: 0px 30px; */
    
    margin-bottom: 10px;
    background-color: rgb(244, 244, 244);
    
}
footer #New_arrival,footer #footer2,footer #icon,footer #country,#bottom_line,#sail_image{
    width: 90%;
        margin: auto;
}
footer #New_arrival #footer_main{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    /* border: 2px solid red; */
    justify-content: space-between;
}
footer #mail .Input{
    width: 370px;
    height: 40px;
    border-color: #167492;
}
footer #mail .Submit{
    width: 120px;
    height: 45px;
    background-color: #5b5e5f;
    color: white;
    /* word-spacing: 50px; */
}

footer #New_arrival .read{
    /* width: 90%; */
    margin: auto;
    font-size: 11px;
    /* word-spacing: 5px; */
    letter-spacing: 1px;
    margin-bottom: 30px;
}
footer #New_arrival #footer_main #signin{
    /* border: 2px solid blue; */
    width: 500px;
}
footer #signin h2{
    font-weight: 100;
    margin-bottom: 20px;
}
footer #signin p{
    font-weight: 100;
    /* font-size: 13px; */
    line-height: 1.2rem;
}
footer #footer2{
    /* border: 2px solid red; */
    display: grid;
    width: 80%;
    grid-template-columns: repeat(5,1fr);
    margin-top: 35px;
    font-size: 13px;
}
footer #footer2 div>p{
    /* margin-left: 45px; */
    margin-bottom: 15px;
    font-weight: 700;
}
footer #footer2  .ft-ha a,#country a,#bottom_line a{
    text-decoration: none;
    color: black;
    /* font-size: 10px; */
}
footer #images_icon{
    width: 13px;
} 
footer #images_icon1{
    width: 20px;
    margin-top: 10px;
} 


footer #footer2 li{
    list-style: none;
    line-height: 2rem;
    /* font-size: 10px; */
}
footer #icon{
    display: flex;
    width: 28%;
   justify-content: space-between;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    /* border: 2px solid blue; */
}

footer #icon div{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 220px;
}
footer #icon .app_store{
    width: 100px;
    height: 30px;
}
footer #icon img{
    width: 25px;
    height: 25px;

}
#sail_image img{
    width: 100%;
}
footer #country{
    display: flex;
    width: 300px;
    margin: auto;
    /* height: 20px; */
    font-size: 13px;
    margin-top: 40px;
    margin-bottom: 30px;
}
footer #country hr,#bottom_line hr{
    height: 13px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;

}
footer #bottom_line{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
}
footer #bottom_line #terms{
    display: flex;
    
}
footer .color{
    color: #9a9b9b;
    
}
footer #terms p{
    margin-right: 10px;
}
footer #bottom_line a{
    color: #167492;
}