* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
#count{
    color: white;
    font-size: 10px;
    background-color: teal;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    bottom: 25%;
    right: 2%;
}
#navbar {
    background-color: white;
    position: sticky;
    top: -11vh;
    z-index: 2;
    font-size: 15px;
}

#upper_nav {
    height: 5vh;
    background-image: url("../navbar/icon/upper01.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#search::placeholder {
    color: teal;
}

#mid_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid;
    background-color: rgb(239, 239, 239);
}

#mid_nav>p {
    margin: 0px 20px 0px 5px;
    color: #167A92;
}

#lower_nav {
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    /* border: 1px solid green; */
    /* height: 50px; */
    position: relative;
}

#main_logo{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-top: 4px solid #167A92;
    padding: 20px;
}

#alt_logo {
    padding: 10px;
}

#lower_nav>#search {
    margin-right: 30px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lower_nav>#search>input {
    height: 30px;
    width: 80%;
    padding: 10px 5px;
}


/* .fa-bag-shopping{
    font-size: 25px;
    color: teal;
} */

#category {
    border: 1px solid;
    height: 8vh;
}

#category>ul {
    display: flex;
    justify-content: space-evenly;
}

#category>ul>li {
    list-style: none;
    padding: 20px 0px;
}

#category>ul>li:hover {
    border-bottom: 3px solid #167A92;
    ;
}

#category>ul>li>a {
    text-decoration: none;
    color: black;
}

#category>ul>li>a:hover {
    color: #167A92;
}

#bag_logo {
    height: 30px;
    cursor: pointer;
}

#user_pic {
    height: 20px;
}

#user_info {
    text-decoration: none;
    color: teal;
    font-size: 17px;
}

#globe {
    height: 25px;
}

#drop_downs {
    margin-left: 30px;
    display: none;
    z-index: 1;
    /* z-index: -10; */
    /* display: none; */
}

#drop_downs:hover {
    display: block;
}

#content {
    display: flex;
}

#left {
    display: flex;
    width: 30%;
}

#right {
    display: flex;
}

.title {
    color: rgb(77, 77, 77);
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid;
}

#left_content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid;
    width: 100%;
}

#drop_downs a {
    text-decoration: none;
    color: black;
    margin: 8px;
}

#left02 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid;
}

#right02 {
    padding: 10px;
    width: 50%;
    text-align: center;
    border: 1px solid;
}

#drop_downs a:hover {
    text-decoration: underline;
}